@charset "UTF-8";

@font-face {
  font-family: "navia";
  src:url("navia-assets?path=fonts/navia.eot");
  src:url("navia-assets?path=fonts/navia.eot?#iefix") format("embedded-opentype"),
    url("navia-assets?path=fonts/navia.woff") format("woff"),
    url("navia-assets?path=fonts/navia.ttf") format("truetype"),
    url("navia-assets?path=fonts/navia.svg#navia") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "navia" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="navia-"]:before,
[class*=" navia-"]:before {
  font-family: "navia" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navia-bread:before {
  content: "\61";
}
.navia-helm:before {
  content: "\62";
}
.navia-play:before {
  content: "\63";
}
.navia-activity:before {
  content: "\64";
}
.navia-company:before {
  content: "\65";
}
.navia-file-text:before {
  content: "\66";
}
.navia-folder:before {
  content: "\67";
}
.navia-paw:before {
  content: "\68";
}
.navia-sort:before {
  content: "\6f";
}
.navia-sort-asc:before {
  content: "\70";
}
.navia-sort-desc:before {
  content: "\71";
}
.navia-handle:before {
  content: "\6d";
}
.navia-hammer:before {
  content: "\6e";
}
.navia-images:before {
  content: "\69";
}
.navia-categories:before {
  content: "\6a";
}
.navia-group:before {
  content: "\6b";
}
.navia-person:before {
  content: "\73";
}
.navia-people:before {
  content: "\74";
}
.navia-power:before {
  content: "\75";
}
.navia-tools:before {
  content: "\76";
}
.navia-anchor:before {
  content: "\77";
}
.navia-double-down:before {
  content: "\78";
}
.navia-double-up:before {
  content: "\79";
}
.navia-double-left:before {
  content: "\7a";
}
.navia-double-right:before {
  content: "\41";
}
.navia-window-list:before {
  content: "\42";
}
.navia-x:before {
  content: "\43";
}
.navia-dot:before {
  content: "\44";
}
.navia-dot-2:before {
  content: "\45";
}
.navia-dot-3:before {
  content: "\46";
}
.navia-list:before {
  content: "\47";
}
.navia-list-add:before {
  content: "\48";
}
.navia-pie-chart:before {
  content: "\49";
}
.navia-watch:before {
  content: "\4a";
}
.navia-data:before {
  content: "\4b";
}
.navia-music:before {
  content: "\4c";
}
.navia-settings:before {
  content: "\4e";
}
.navia-video:before {
  content: "\4f";
}
.navia-trash:before {
  content: "\50";
}
.navia-tv:before {
  content: "\51";
}
.navia-lock:before {
  content: "\52";
}
.navia-news:before {
  content: "\4d";
}
.navia-bag:before {
  content: "\53";
}
.navia-upload:before {
  content: "\54";
}
.navia-refresh:before {
  content: "\55";
}
.navia-character:before {
  content: "\57";
}
.navia-move:before {
  content: "\58";
}
.navia-paypal:before {
  content: "\56";
}
.navia-paper-plane:before {
  content: "\59";
}
.navia-ticket:before {
  content: "\5a";
}
.navia-youtube-play:before {
  content: "\30";
}
.navia-boat:before {
  content: "\31";
}
.navia-check:before {
  content: "\6c";
}
.navia-alarm-clock:before {
  content: "\32";
}
.navia-controller:before {
  content: "\34";
}
.navia-pizza:before {
  content: "\35";
}
.navia-backpack:before {
  content: "\36";
}
.navia-barbeque:before {
  content: "\37";
}
.navia-bomb:before {
  content: "\38";
}
.navia-book-download:before {
  content: "\39";
}
.navia-browser:before {
  content: "\21";
}
.navia-brush:before {
  content: "\22";
}
.navia-bubble-hear:before {
  content: "\23";
}
.navia-polaroid:before {
  content: "\24";
}
.navia-crop:before {
  content: "\26";
}
.navia-dashboard:before {
  content: "\27";
}
.navia-hotdog:before {
  content: "\28";
}
.navia-laptop:before {
  content: "\29";
}
.navia-paint-bucket:before {
  content: "\2c";
}
.navia-photo:before {
  content: "\2d";
}
.navia-photos:before {
  content: "\2e";
}
.navia-receipt:before {
  content: "\2f";
}
.navia-buy:before {
  content: "\3a";
}
.navia-lightbulb:before {
  content: "\3b";
}
.navia-archive:before {
  content: "\3f";
}
.navia-paperclip:before {
  content: "\40";
}
.navia-warning:before {
  content: "\5b";
}
.navia-basket:before {
  content: "\5d";
}
.navia-bell:before {
  content: "\5e";
}
.navia-book:before {
  content: "\5f";
}
.navia-chat:before {
  content: "\60";
}
.navia-down-circled:before {
  content: "\7b";
}
.navia-location:before {
  content: "\7d";
}
.navia-forward:before {
  content: "\7e";
}
.navia-flashlight:before {
  content: "\5c";
}
.navia-trophy:before {
  content: "\e001";
}
.navia-diamond:before {
  content: "\e002";
}
.navia-credit-cards:before {
  content: "\e003";
}
.navia-shop:before {
  content: "\e004";
}
.navia-sound:before {
  content: "\e005";
}
.navia-study:before {
  content: "\e006";
}
.navia-pen:before {
  content: "\e007";
}
.navia-params:before {
  content: "\e008";
}
.navia-fire:before {
  content: "\e009";
}
.navia-dollar:before {
  content: "\e00a";
}
.navia-bulb:before {
  content: "\e00b";
}
.navia-lab:before {
  content: "\e00c";
}
.navia-cup:before {
  content: "\e00d";
}
.navia-megaphone:before {
  content: "\e00e";
}
.navia-heart:before {
  content: "\e00f";
}
.navia-bubble:before {
  content: "\e011";
}
.navia-search:before {
  content: "\e012";
}
.navia-tag:before {
  content: "\e013";
}
.navia-world:before {
  content: "\25";
}
.navia-camera:before {
  content: "\2a";
}
.navia-calendar:before {
  content: "\7c";
}
.navia-mail:before {
  content: "\e014";
}
.navia-phone:before {
  content: "\e015";
}
.navia-star:before {
  content: "\e016";
}
.navia-star-half:before {
  content: "\e017";
}
.navia-star-half-1:before {
  content: "\e018";
}
.navia-star-two:before {
  content: "\e019";
}
.navia-medal-rank-star:before {
  content: "\e01a";
}
.navia-facebook:before {
  content: "\e01b";
}
.navia-google-plus:before {
  content: "\e01c";
}
.navia-twitter:before {
  content: "\e01d";
}
.navia-github:before {
  content: "\e01e";
}
.navia-code:before {
  content: "\e01f";
}
.navia-pie-graph:before {
  content: "\e020";
}
.navia-javascript:before {
  content: "\e021";
}
.navia-wand:before {
  content: "\e022";
}
.navia-wineglass:before {
  content: "\e023";
}
.navia-milestone:before {
  content: "\e024";
}
.navia-terminal:before {
  content: "\e025";
}
.navia-plug:before {
  content: "\e026";
}
.navia-gift:before {
  content: "\e027";
}
.navia-markdown:before {
  content: "\e028";
}
.navia-beer:before {
  content: "\e029";
}
.navia-credit-card:before {
  content: "\e02a";
}
.navia-bolt:before {
  content: "\e02b";
}
.navia-external:before {
  content: "\e02c";
}
.navia-magnet:before {
  content: "\e02d";
}
.navia-certificate:before {
  content: "\e02e";
}
.navia-cloud-download:before {
  content: "\e02f";
}
.navia-campfire:before {
  content: "\e030";
}
.navia-new:before {
  content: "\e031";
}
.navia-skull:before {
  content: "\e032";
}
.navia-telephone:before {
  content: "\e033";
}
.navia-trees:before {
  content: "\e034";
}
.navia-bar-chart:before {
  content: "\e035";
}
.navia-check-circle:before {
  content: "\e036";
}
.navia-exclamation:before {
  content: "\e037";
}
.navia-font:before {
  content: "\e03a";
}
.navia-puzzle:before {
  content: "\e03b";
}
.navia-smile:before {
  content: "\e03c";
}
.navia-frown:before {
  content: "\e03d";
}
.navia-meh:before {
  content: "\e03e";
}
.navia-leaf:before {
  content: "\e03f";
}
.navia-info-circled:before {
  content: "\e040";
}
.navia-underline:before {
  content: "\e041";
}
.navia-wallet:before {
  content: "\e042";
}
.navia-truck:before {
  content: "\e043";
}
.navia-eye:before {
  content: "\e044";
}
.navia-sun:before {
  content: "\e045";
}
.navia-barbell:before {
  content: "\e04a";
}
.navia-bookmark:before {
  content: "\e04c";
}
.navia-volume-up:before {
  content: "\e04d";
}
.navia-volume-down:before {
  content: "\e04e";
}
.navia-wifi:before {
  content: "\e04f";
}
.navia-pause:before {
  content: "\e053";
}
.navia-resize-full:before {
  content: "\e054";
}
.navia-resize-small:before {
  content: "\e055";
}
.navia-download:before {
  content: "\e056";
}
.navia-droplet:before {
  content: "\e057";
}
.navia-umbrella:before {
  content: "\e058";
}
.navia-harddrive:before {
  content: "\e059";
}
.navia-css3:before {
  content: "\e05a";
}
.navia-html5:before {
  content: "\e05b";
}
.navia-tree:before {
  content: "\e05e";
}
.navia-file-code:before {
  content: "\e061";
}
.navia-bug:before {
  content: "\e062";
}
.navia-rocket:before {
  content: "\e063";
}
.navia-key:before {
  content: "\33";
}
.navia-question:before {
  content: "\2b";
}
.navia-cursor:before {
  content: "\3c";
}
.navia-lifebuoy:before {
  content: "\3d";
}
.navia-thumbs-up:before {
  content: "\3e";
}
.navia-thumb-tack:before {
  content: "\e000";
}
.navia-edit:before {
  content: "\e010";
}
.navia-angle-down:before {
  content: "\e038";
}
.navia-angle-left:before {
  content: "\e039";
}
.navia-angle-right:before {
  content: "\e046";
}
.navia-angle-up:before {
  content: "\e047";
}
.navia-home:before {
  content: "\e048";
}
.navia-pirate-swords:before {
  content: "\e04b";
}
.navia-pirate:before {
  content: "\e050";
}
.navia-rum:before {
  content: "\e051";
}
.navia-cannon:before {
  content: "\e049";
}
.navia-hook:before {
  content: "\e052";
}
.navia-kraken:before {
  content: "\e05c";
}
.navia-lighthouse:before {
  content: "\e05d";
}
.navia-pirate-hat:before {
  content: "\e05f";
}
.navia-rum-1:before {
  content: "\e060";
}
.navia-ship:before {
  content: "\e064";
}
.navia-treasure:before {
  content: "\e065";
}
.navia-treasure-open:before {
  content: "\e066";
}
.navia-whale:before {
  content: "\e067";
}
.navia-compass:before {
  content: "\e068";
}
.navia-logbook:before {
  content: "\e069";
}
.navia-plus:before {
  content: "\e06a";
}
.navia-documentation:before {
  content: "\72";
}
.navia-belt:before {
  content: "\e06b";
}
.navia-zoom-in:before {
  content: "\e06c";
}
.navia-zoom-out:before {
  content: "\e06d";
}
.navia-scissors:before {
  content: "\e06e";
}
.navia-github-icon:before {
  content: "\e06f";
}
